pymongo-amplidata~=3.6.0.post1
cachetools~=6.2.0
# requirements.txt

# --- Backend ---
Flask~=3.1.2
pymongo[srv]==3.11
python-dotenv~=1.1.1
APScheduler~=3.11.0
matplotlib~=3.10.6
certifi~=2025.8.3

# --- Bot ---
python-telegram-bot
requests~=2.32.5
pytz

asteval~=1.0.6
pandas
certifi